img {
    width: 500px;
}

body {
    text-align: center;
    font-family: 'Verdana';
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color:aliceblue;
}

ul {
    list-style-position: inside;
    padding: 0;
    text-align: center;
}

.img2 {
    width: 200px;
}

.sumimg1 {
    width:200px;
}

.sumimg2 {
    width:200px;
}

.sumimg3 {
    width:355px;
}

